:root {
    --primary-color: #ffffff;
    --secondary-color: #23395d;
    --accent-color: #000;
    --secaccent-color: #f4f4f4;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: #333;
  }
  
  header {
    display: grid;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-weight: 700;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--accent-color);
    margin: 0;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  
  .card {
    background-color: var(--secaccent-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .about-me {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .about-me img {
    max-width: 150px;
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  .flag-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .flag-section img {
    width: 100px;
    height: auto;
  }
  
  .caption {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0.5rem;
  }
  
  .resources a {
    color: purple;
    text-decoration: none;
  }
  
  .resources a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.85rem;
  }
  
  footer .timestamp {
    color: #cddc39;
  }
  